@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --light-grey: #D1D5DB;
    --linkedin-blue: #5093E2;
    --dark-text: #374151;
    --accent-color: #F3BF99;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #23252C;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 7px;
}

.app-container {
    color: white;
    background: #1A1B21;
    min-height: 100vh;
    max-width: 317px;
    margin: 44px auto;
}

.contact h1,
.contact p,
.contact ul {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.contact p {
    text-align: center;
}

.text--role {
    color: var(--accent-color);
    font-size: 13px;
    margin-bottom: 8.8px;
}

.text--website {
    font-size: 11px;
    color: white;
}

.contact__links svg {
    width: 16px;
    height: 16px;
}

.contact__email a {
    color: var(--dark-text);
    background: white;
}

.contact__linkedin a {
    background: var(--linkedin-blue);
    color: white;
}
